
# --- LED & Interrupt ---
CONFIG_LED_PIN=2
CONFIG_LED_ACTIVE_LEVEL=0
CONFIG_IRQ_OUT_PIN=3
CONFIG_IRQ_OUT_ACTIVE_LEVEL=0

# --- PHY SELECTION ---
# This tells the code to start with UART active by default
CONFIG_PHY_UART=y

# --- UART ---
CONFIG_COM_UART_NUM=1
CONFIG_COM_UART_BAUD=115200
CONFIG_COM_UART_RX_PIN=0
CONFIG_COM_UART_TX_PIN=1

# --- SPI ---
CONFIG_COM_SPI_NUM=2            
CONFIG_COM_SPI_MOSI_PIN=0      
CONFIG_COM_SPI_MISO_PIN=1      
CONFIG_COM_SPI_SCK_PIN=6       
CONFIG_COM_SPI_CS_PIN=7         

# --- QSPI ---
CONFIG_COM_QSPI_NUM=2 
CONFIG_COM_QSPI_CS_PIN=0
CONFIG_COM_QSPI_SCK_PIN=1
CONFIG_COM_QSPI_IO0_PIN=6
CONFIG_COM_QSPI_IO1_PIN=7
CONFIG_COM_QSPI_IO2_PIN=8
CONFIG_COM_QSPI_IO3_PIN=9
