
# --- LED ----------
CONFIG_LED_PIN=2
CONFIG_LED_ACTIVE_LEVEL=0

# --- Interrupt ----
CONFIG_IRQ_OUT_PIN=3

# --- SPI ----------      
CONFIG_SPI_CS_PIN=23 
CONFIG_SPI_SCK_PIN=22       
CONFIG_SPI_D0_MOSI_PIN=21      
CONFIG_SPI_D1_MISO_PIN=20      
CONFIG_SPI_D2_PIN=19
CONFIG_SPI_D3_PIN=18
