
# --- LED ----------
CONFIG_LED_PIN=2
CONFIG_LED_ACTIVE_LEVEL=0

# --- Interrupt ----
CONFIG_IRQ_OUT_PIN=3

# --- MODE ----
CONFIG_MODE_PIN=13

# --- SPI ----------      
CONFIG_COM_SPI_SCK_PIN=0       
CONFIG_COM_SPI_CS_PIN=1  
CONFIG_COM_SPI_D0_MOSI_PIN=6      
CONFIG_COM_SPI_D1_MISO_PIN=7      
CONFIG_COM_SPI_D2_PIN=8
CONFIG_COM_SPI_D3_PIN=9
