# ===== esp32_defaults =====

# --- LED ------------------------------------------------------------
CONFIG_LED_GPIO=2
CONFIG_LED_ACTIVE_LEVEL=0

# --- Interrupt ------------------------------------------------------
CONFIG_IRQ_OUT_PIN=21
CONFIG_IRQ_OUT_ACTIVE_LEVEL=0

# --- UARTs ----------------------------------------------------------
CONFIG_COM_UART_NUM=1
CONFIG_COM_USART_RX_PIN=16
CONFIG_COM_USART_TX_PIN=17

# --- SPI (generic slave interface) --------------------------------
CONFIG_COM_SPI_SLAVE=y
CONFIG_COM_SPI_NUM=3            
CONFIG_COM_SPI_MOSI_PIN=23      
CONFIG_COM_SPI_MISO_PIN=19      
CONFIG_COM_SPI_SCK_PIN=18       
CONFIG_COM_SPI_CS_PIN=5         

# --- SDIO (slave) --------------------------------------------------
CONFIG_COM_SDIO_SLAVE=y
CONFIG_COM_SDIO_CLK_PIN=14      
CONFIG_COM_SDIO_CMD_PIN=15      
CONFIG_COM_SDIO_D0_PIN=2        
CONFIG_COM_SDIO_D1_PIN=4        
CONFIG_COM_SDIO_D2_PIN=12       
CONFIG_COM_SDIO_D3_PIN=13       

# --- QSPI (slave) ---------------------------------------------------
CONFIG_COM_QSPI_SLAVE=n
#CONFIG_COM_QSPI_CS_PIN
#CONFIG_COM_QSPI_SCK_PIN
#CONFIG_COM_QSPI_IO0_PIN
#CONFIG_COM_QSPI_IO1_PIN
#CONFIG_COM_QSPI_IO2_PIN
#CONFIG_COM_QSPI_IO3_PIN



