menu "Board Configuration"
    
    # ===== LED ==========================================================
    menu "LED Configuration"
        config LED_PIN
            int "LED PIN"
            default 2
        config LED_ACTIVE_LEVEL
            int "LED Active Level (0=Low, 1=High)"
            range 0 1
            default 0
    endmenu

     # ===== Interrupt ===================================================
    config IRQ_OUT_PIN
        int "IRQ Output GPIO"
        default 3

    # ===== SPI/QSPI Pins ===================================================
    menu "SPI/QSPI Pins"
        config COM_SPI_SCK_PIN
            int "SCK GPIO"
            default 0
        config COM_SPI_CS_PIN
            int "CS GPIO"
            default 1
        config COM_SPI_D0_MOSI_PIN
            int "D0/MOSI GPIO"
            default 6
        config COM_SPI_D1_MISO_PIN
            int "D1/MISO GPIO"
            default 7
        config COM_SPI_D2_PIN
            int "D2 GPIO"
            default 8
        config COM_SPI_D3_PIN
            int "D3 GPIO"
            default 9
    endmenu

    # ===== WiFi ========================================================
    menu "WiFi Configuration"
        config ESP_PHY_MAX_WIFI_TX_POWER
            int "Maximum WiFi TX Power (dBm)"
            range 0 20
            default 20
            help
                Set maximum WiFi transmit power in dBm (0-20 dBm)
    endmenu

endmenu
