menu "Board Configuration"
    
    # ===== LED ==========================================================
    menu "LED Configuration"
        config LED_PIN
            int "LED PIN"
            default 2
        config LED_ACTIVE_LEVEL
            int "LED Active Level (0=Low, 1=High)"
            range 0 1
            default 0
    endmenu

     # ===== Interrupt ===================================================
    config IRQ_OUT_PIN
        int "IRQ Output GPIO"
        default 3

    # ===== Mode Selection ===================================================
    config MODE_PIN
        int "Hardware Mode Selection GPIO"
        default 13
        help
            Float or High (1) = SPI Mode, Low (0) = Standard QSPI Mode.

    # ===== SPI/QSPI Pins ===================================================
    menu "SPI/QSPI Pins"
        config COM_SPI_SCK_PIN
            int "SCK GPIO"
            default 0
        config COM_SPI_CS_PIN
            int "CS GPIO"
            default 1
        config COM_SPI_D0_MOSI_PIN
            int "D0/MOSI GPIO"
            default 6
        config COM_SPI_D1_MISO_PIN
            int "D1/MISO GPIO"
            default 7
        config COM_SPI_D2_PIN
            int "D2 GPIO"
            default 8
        config COM_SPI_D3_PIN
            int "D3 GPIO"
            default 9
    endmenu

endmenu
